body{
			background: #e0e0e0;
		}
		h1{
			color:grey;
			text-align: center;
		}
		ul{
			background-color: grey;
			padding:20px;
			text-align: center;
		}
		nav ul li{
			display:inline;
			color: white;
		}
		nav ul li a{
			text-decoration: none;
			color:white;
			padding:20px;
		}
		a{
			text-decoration: none;
			color:grey;
		}
		nav ul li a:hover{
			background: black;
			padding: 20px;
		}
		iframe{
			width:100%;
			height:600px;
			margin: 20px 0;
		}
		footer{
			text-align: center;
			clear:both;
		}
		footer h3{
			color:grey;
		}
		#lyricsdiv{
			height:0;
		}
		 #lyrics1 , #lyrics2, #lyrics3, #lyrics4{
			display:none;
			
		}
		#sketch{
			float:left;
			display:none;
		}